@model PowerusyData.SearchjobViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Home";
}
@using (Html.BeginForm())
{
    <!-- BEGIN HIDDEN FIELDS AREA -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    <!-- ============================ Hero Banner  Start================================== -->
    <div class="hero-banner full bg-cover center" style="background:#2944c1 url(assets/img/banner-3.jpg) no-repeat;" data-overlay="7">
        <div class="container">
            <div class="mt-5">
                <div class="row m-0 justify-content-center">
                    <div class="col-lg-11 col-md-11">
                        <div class="pills_basic_tab">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Car/RoRo</a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Container/Others</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="_dashboard_content">
                                        <div class="_dashboard_content_body">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Carrier/Lines (MSC.)</label>
                                                        <input type="text" class="form-control with-light">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Port of Loading</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListPOL, "Value", "Text"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Port of Discharge</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListPOD, "Value", "Text"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Vehicle Type</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListVehileType, "Value", "Text"), new { @class = "form-control" })

                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Make</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListMake, "Value", "Text"), new { @class = "form-control", id = "MakeId" })

                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Model</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListModel, "Value", "Text"), new { @class = "form-control", id = "ModelId" })

                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Year</label>
                                                        @Html.DropDownListFor(m => m.CountryList, new SelectList(Model.ListYear, "Value", "Text"), new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                        <button type="button" class="btn theme-bg r-radius full-width">GET ESTIMATES</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                    <div class="_dashboard_content">
                                        <div class="_dashboard_content_body">
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Carrier (Maersk, Grimaldi etc.)</label>
                                                        <input type="text" class="form-control with-light">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Port of Loading</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListPOL, "Value", "Text"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Port of Discharge</label>
                                                        @Html.DropDownListFor(m => m.ListVehileType, new SelectList(Model.ListPOD, "Value", "Text"), new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Quantity</label>
                                                        <input type="text" class="form-control with-light">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>ETA (Calendar)</label>
                                                        <input type="text" class="form-control with-light">
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-lg-6">
                                                    <div class="form-group">
                                                        <label>Brief Description of the Cargo</label>
                                                        <input type="text" class="form-control with-light">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6">
                                                    <div class="form-group">
                                                        <button type="button" class="btn theme-bg r-radius full-width">GET QUOTES</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                    @*<div class="col-lg-10 col-md-11">
                            <h1>World Best Freelancers Portal</h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <div class="linkeo_link">
                                <a href="#" class="btn _hire_freelancers">Hire Freelancers</a>
                                <a href="#" class="btn _loonking_job">Loonking For Job</a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
    <!-- ============================ Hero Banner End ================================== -->
    <!-- ============================ Featured Designs Start ==================================== -->
    <section class="pt-0 gray-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">

                    <div class="_freelancers_group_list overlio-top">
                        <div class="_freelancers_group_header">
                            <form class="search-big-form _freelancers_forms">
                                <div class="row m-0">
                                    <div class="col-lg-4 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <i class="ti-search"></i>
                                            <input type="text" class="form-control" placeholder="Job Title or Keywords">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <i class="ti-location-pin"></i>
                                            <input type="text" class="form-control" placeholder="San Francisco, CA">
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <i class="ti-layers"></i>
                                            <select id="jb-category" class="js-states form-control">
                                                <option value="">&nbsp;</option>
                                                <option value="1">Accounting & Finance</option>
                                                <option value="2">Telecommunications</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-2 col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <i class="ti-search"></i>
                                            <button type="button" class="btn theme-bg-blue full-width">Search</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="_freelancers_group_body">
                            @if (Model.ListView)
                            {

                                foreach (var item in Model.UsrLst)
                                {
                                    <!-- List Single Item -->
                                    <div class="_list_jobs_wraps shadow_0">
                                        <div class="_list_jobs_f1ex first">
                                            <div class="_list_110">
                                                <div class="_list_110_thumb">
                                                    @*<a href="#"><img src="~/assets/img/c-1.png" class="img-fluid" alt=""></a>*@
                                                    <a href="#">
                                                        @if (!string.IsNullOrEmpty(item.IconPath))
                                                        {
                                                            <img src="~/upload/@item.IconPath" height="200" width="200" class="img-fluid" alt="">
                                                        }
                                                        else
                                                        {
                                                            <img src="~/assets/img/team-1.jpg" height="200" width="200" class="img-fluid" alt="">
                                                        }
                                                    </a>
                                                </div>
                                                <div class="_list_110_caption">
                                                    <h4 class="_jb_title">
                                                        @*Html.ActionLink(item.VesselName, "Jobdetail", "Customer", new { page = item.id }, new { style = "display:block" })*@
                                                        <a href="#">@item.VesselName</a>
                                                    </h4>
                                                    @*<div class="_emp_jb">Drive Due</div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="_list_jobs_f1ex">
                                            <div class="_list_110_caption">
                                                <h4 class="_jb_title">POL : @item.PortLoading1</h4>
                                                <div class="_emp_jb">POD : @item.PortDischarge2</div>
                                            </div>
                                        </div>
                                        <div class="_list_jobs_f1ex">
                                            <div class="_list_110_caption">
                                                <h4 class="_jb_title">Est Budget</h4>
                                                <div class="_emp_jb"> @String.Format("{0:N0}", item.EstBudget) </div>
                                            </div>
                                        </div>
                                        <div class="_list_jobs_f1ex">
                                            @Html.ActionLink("View Job", "Jobdetail", "Customer", new { page = item.id }, new { @class = "_jb_apply" })
                                            @*<a href="job-detail.html" class="_jb_apply">View Job</a>*@
                                        </div>
                                    </div>

                                }
                            }
                           

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- ============================ Featured Jobs End ==================================== -->
}
<!-- ============================ Main Section End ================================== -->
@section scripts {

    <script>
        $(document).ready(function () {

            $(document).ajaxStart(function () {
                $("#loading").show();
            });

            $(document).ajaxStop(function () {
                $("#loading").hide();
            });

            $("[data-pdsa-action]").on("click", function (e) {

                $("#loading").show();
                e.preventDefault();

                $("#EventCommand").val($(this).data("pdsa-action"));

                $("#EventArgument").val($(this).attr("data-pdsa-val"));

                $("form").submit();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        console.log('Submission was successful.');
                        console.log(data);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });
                $("#loading").hide();
            });

            $("#MakeId").change(function () {
                var val = $(this).val();
                var options = $("#ModelId");
                $.post('@Url.Action("GetModel", "Home")', { MakeId: val }, function (data) {
                    $("#ModelId").empty();
                $.each(data, function (i, val) {
                    var value = data[i].Value;
                    var text = data[i].Text;
                    options.append($("<option />").val(value).text(text));
                });
                });
            });
        });
    </script>
}