<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Bootstrap4, Multipurpose, responsive, Business, template,Shipping, Cargo, logistic, html5, css, javascript, web24service" />
    <meta name="author" content="web24service">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>@ViewBag.Title - Powerusy</title>

    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="~/assets/images/fevicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Font awesome CSS -->
    <link rel="stylesheet" href="~/assets/css/fontawesome.all.min.css">

    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">

    <!-- OwlCarousel CSS -->
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">

    <!-- Magnific popup CSS -->
    <link rel="stylesheet" href="~/assets/css/fancybox.min.css">

    <!-- chat CSS -->
    <link rel="stylesheet" href="~/assets/css/chat.css">

    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="~/assets/css/slicknav.min.css">

    <!-- Date picker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">

    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.4.1.min.js"></script>
</head>
<body>
    <!-- Main Wrapper Start -->
    <div class="main-wrapper">
        <!-- skiptocontent start ( This section for blind and Google SEO, Also for page speed )-->
        <a id="skiptocontent" href="#maincontent">skip navigation</a>
        <!-- skiptocontent End -->
        <!-- Preloader start -->
        <div class="wshipping-site-preloader-wrapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!-- Preloader End -->

        <header class="for-sticky">
            <!-- Header top area start -->
            <div class="header-top-area">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-12 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                            @*<div class="top-menu">
                                @if (Session["userid"] != null)
                                {
                                    <ul>
                                        <li>Welcome @Session["userid"].ToString() </li>
                                        <a href="@Url.Action("LogOff", "Account")" class=""><i class="glyphicon glyphicon-log-out"></i><span> Sign Out</span></a>
                                    </ul>
                                }
                                else
                                {
                                    <ul>
                                        <li>@Html.ActionLink("Login", "Login", "Account") </li>
                                        <li>@Html.ActionLink("Registration", "Index", "Registration")</li>
                                    </ul>
                                }
                            </div>*@
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area End -->
            <!-- Header area start -->
            <div class="header-area">
                <div class="container">
                    <!-- Site logo Start -->
                    <div class="logo"> <a href="index.html" title="W-shipping"><img src="~/assets/images/logo.png" alt="W-shipping" /></a> </div>
                    <!-- Site logo end -->
                    <div class="mobile-menu-wrapper"></div>
                    <!-- Search Start -->
                    <div class="dropdown header-search-bar">
                        <form action="#">
                            <span class="" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></span>
                            <input type="search" placeholder="kyewords.." class="dropdown-menu search-box">
                        </form>
                    </div>
                    <!-- Search End -->
                    <!-- Main menu start -->
                    <nav class="mainmenu">
                        <ul id="navigation">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About Us", "About", "Home")</li>
                            <li>@Html.ActionLink("Services", "Import", "Products")</li>

                            @if (Session["userid"] != null)
                            {
                                <li>
                                    <a href="#">Shipper</a>
                                    <ul>
                                        <li>@Html.ActionLink("Complete Registration", "CompleteReg", "Shipper")</li>
                                        <li>@Html.ActionLink("Account Status", "Status", "Registration")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Account</a>
                                    <ul>
                                        <li>@Html.ActionLink("View", "CompleteReg", "Shipper")</li>
                                        <li>@Html.ActionLink("Deactivate", "Status", "Registration")</li>
                                    </ul>
                                </li>
                                @*
                <li>
                <a href="#">Admin management</a>
                <ul>
                    <li>@Html.ActionLink("View", "CompleteReg", "Shipper")</li>
                </ul>
            </li>
            <li>
                <a href="#">Report and analytics</a>
                <ul>
                    <li>@Html.ActionLink("View", "CompleteReg", "Shipper")</li>
                </ul>
            </li>*@
                            }
                            else
                            {
                                @*<li>
                <a href="#">Login</a>
                <ul>
                    <li>@Html.ActionLink("Customer Login", "Login", "Account") </li>
                    <li>@Html.ActionLink("Customer Register", "Index", "Registration")</li>
                </ul>
            </li>*@
                            }
                            <li>@Html.ActionLink("Market Info", "MarketInfo", "Account") </li>
                            <li>@Html.ActionLink("Media", "Media", "Home")</li>
                            @*<li><a href="#">Media & Publications</a></li>
                            <li><a href="contact.html">Watch Demo</a></li>
        <li>
            <a href="#">Terms & Conditions</a>
            <ul>
            </ul>
        </li>
        <li><a href="#">Privacy Policy</a></li>*@
                            <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                        </ul>
                    </nav>
                    <!-- Main menu end -->
                </div>
            </div>
            <!-- Header area End -->
        </header>
        @RenderBody()
        <!-- Footer start -->
        <footer class="site-footer">
            <!-- Footer Top start -->
            <div class="footer-top-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz">
                                <h3 class="footer-logo"><img src="~/assets/images/footer-logo.png" alt="footer logo" /></h3>
                                <p>TPOWERUSY, as a logistics and supply chain solutions provider, "is committed to providing fast, reliable and secure services that constantly exceed our customers' expectations"</p>
                                <ul class="footer-contact">
                                    <li><i class="fa fa-phone"></i> +234 3600 0000</li>
                                    <li><i class="fa fa-envelope"></i>info@powerusy.com</li>
                                    <li><i class="fa fa-fax"></i> +88 02 123456</li>
                                </ul>
                            </div>
                            <div class="top-social bottom-social"> <a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-youtube"></i></a> <a href="#"><i class="fa fa-rss"></i></a> </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz footer-menu">
                                <h3 class="footer-wiz-title">Quick Links</h3>
                                <ul>
                                    <li><a href="#">Company Overview</a></li>
                                    <li><a href="#">Our Services</a></li>
                                    <li><a href="#">Media &amp; Publications</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Freight Gallery</a></li>
                                    <li><a href="#">Image Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            @*<div class="footer-wiz footer-menu">
                                <h3 class="footer-wiz-title">Usefull Links</h3>
                                <ul>
                                    <li><a href="create-shipping.html">Create Shipping</a></li>
                                    <li><a href="tracking.html">Tracking</a></li>
                                    <li><a href="shipment-history.html">Shipment History</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="button-accordion.html">Button Accordion</a></li>
                                    <li><a href="tracking-result.html">Tracking Result</a></li>
                                </ul>
                            </div>*@
                        </div>
                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="footer-wiz">
                                <h3 class="footer-wiz-title">Opening Hours</h3>
                                <ul class="open-hours">
                                    <li><span>Mon to Fri:</span> <span class="text-right">09:30AM to 05:30PM</span></li>
                                    <li><span>Sun:</span> <span class="text-right">Closed</span></li>
                                </ul>
                                <div class="newsletter">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top end -->
            <!-- copyright start -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-lg-6 wow fadeInLeft">Copyright © 2022 <span>Powerusy</span>. All Rights Reserved</div>
                        <div class="col-12 col-lg-6 text-right wow fadeInRight">Design & Development By: <a href="#" title="web24service" target="_blank">#</a></div>
                    </div>
                </div>
            </div>
            <!-- copyright end -->
        </footer>
        <!-- Footer end -->
    </div>
    <!-- Main Wrapper end -->
    <!-- Start scroll top -->
    <div class="scrollup"><i class="fas fa-chevron-up"></i></div>
    <!-- End scroll top -->
    <!-- Tether JS -->
    <script src="~/assets/js/tether.min.js"></script>

    <!-- Popper JS -->
    <script src="~/assets/js/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- OwlCarousel JS -->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <!-- Bootstrap dateTimePicker -->
    <script src="~/assets/js/datetimepicker-moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <!-- SlickNav JS -->
    <script src="~/assets/js/jquery.slicknav.min.js"></script>

    <!-- fancybox Popup JS -->
    <script src="~/assets/js/jquery.fancybox.min.js"></script>

    <!-- WOW JS -->
    <script src="~/assets/js/wow-1.3.0.min.js"></script>

    <!-- Step Form with validate -->
    <script src="~/assets/js/jquery.validate.js"></script>
    <script src="~/assets/js/form-step.js"></script>

    <!-- SlickNav JS -->
    <script src="~/assets/js/youtube-background.js"></script>

    <!-- Gallery Filter -->
    <script src="~/assets/js/jquery.filterizr.min.js"></script>

    <!-- Chat JS -->
    <script src="~/assets/js/chat.js"></script>

    <!-- Coming Soon JS -->
    <script src="~/assets/js/coming-soon.js"></script>

    <!-- Active JS -->
    <script src="~/assets/js/active.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>