@model PowerusyData.BiddingViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Bidding";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcroumbs end -->
<!-- Customer Registration Start -->
@using (Html.BeginForm())
{
    <!-- BEGIN HIDDEN FIELDS AREA -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    <!-- END HIDDEN FIELDS AREA -->
    <!--start Loading panel-->
    <!-- Breadcroumbs start -->
    <div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7">
                    <h1>Shipper</h1>
                    <a href="index.html" title="Home">Home</a> / Shipper
                </div>
                <div class="col-12 col-lg-5 text-right">
                    <h4>
                        We freight to all over the world
                        The best logistic company, <span>FAST</span> and <span>SAFELY!</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcroumbs end -->
    <!-- Create New Shipment Start -->
    <div class="wshipping-content-block shipping-block">
        <div id="loading" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class=" modal-title">Loading... </h4>
                    </div>
                    <div class=" modal-body">
                        <div class=" progress progress-striped active">
                            <div class="progress-bar" style="width:100%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12">
                    @if (!Model.IsValid)
                    {
                        <div class="alert alert-danger
                    alert-dismissable"
                             role="alert">
                            <button type="button" class="close"
                                    data-dismiss="alert">
                                <span aria-hidden="true">
                                    &times;
                                </span>
                                <span class="sr-only">Close</span>
                            </button>
                            @Html.ValidationSummary(false)
                        </div>
                    }
                    @if (TempData["Msg"] != null)
                    {
                        <div class="alert alert-dismissable alert-success">
                            <button type="button" class="close" data-dismiss="alert">
                                x
                            </button>
                            @TempData["Msg"].ToString()
                        </div>
                    }
                </div>
            </div>


            @if (Model.IsSearchAreaVisible)
            {
                <div class="panel-default panel-heading-custom">
                    <div class="col-12 col-lg-9">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SearchEntity.Name, "Part of name")
                            @Html.TextBoxFor(m => m.SearchEntity.Name, new { @class = "form-control" })
                            <button id="btnSearch"
                                    class="btn btn-sm btn-primary"
                                    data-pdsa-action="search">
                                <i class="glyphicon glyphicon-search"></i>
                                &nbsp;Search
                            </button>
                            <button id="btnReset"
                                    class="btn btn-sm btn-primary"
                                    data-pdsa-action="resetsearch">
                                <i class="glyphicon glyphicon-share-alt"></i>
                                &nbsp;Reset
                            </button>
                            <button id="btnAdd"
                                    class="btn btn-sm btn-success"
                                    data-pdsa-action="add">
                                <i class="glyphicon glyphicon-plus"></i>
                                &nbsp;Post New Job
                            </button>
                        </div>
                    </div>
                </div>
                <!-- ** END SEARCH AREA ** -->
            }

            @if (Model.IsDetailAreaVisible)
            {
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="tracking-block">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item"><a class="nav-link active" href="#track-by-number" aria-controls="track-by-number" role="tab" data-toggle="tab">Create Job Order</a></li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="track-by-number">
                                    @*<h3>Create Job Order</h3>*@
                                    <fieldset>
                                        <div class="shipping-form">
                                            <div class="row">
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Name of Vessel<sup>*</sup></label>
                                                        @Html.TextBoxFor(m => m.Entity.VesselName, new { @class = "form-control" })
                                                        <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Consignee<sup>*</sup></label>
                                                        @Html.TextBoxFor(m => m.Entity.Consignee, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Service to be rendered <sup>*</sup></label>
                                                        @Html.DropDownListFor(m => m.ActionTypeId, new SelectList(Model.List, "Value", "Text"), new { @class = "form-control" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>B/L Number<sup>*</sup></label>
                                                        @Html.TextBoxFor(m => m.Entity.BLNumber, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Port Of Loading<sup>*</sup></label>
                                                        @Html.TextBoxFor(m => m.Entity.PortLoading, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Port Of Discharge</label>
                                                        @Html.TextBoxFor(m => m.Entity.PortDischarge, new { @class = "form-control" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Good Description<sup>*</sup></label>
                                                        @Html.TextAreaFor(model => model.Entity.GoodDescription, new { @class = "form-control", @rows = 4 })
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-4">
                                                    <div class="form-group">
                                                        <label>Shipping Lines/Terminal  <sup>*</sup></label>
                                                        @Html.TextBoxFor(m => m.Entity.category, new { @readonly = "readonly", @class = "form-control" })
                                                    </div>
                                                </div>
                                                @*<div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label>TIN password (Optional)</label>
                        @Html.TextBoxFor(m => m.Entity.tinpassword, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>*@
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="shipping-form">
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-6 control-label req">Bill of Lading</label>
                                                        <div class="form-group">
                                                            <input class="form-control required" type="file" id="@Model.BillofLading" name="BillofLading" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-6 control-label">Proforma invoice</label>
                                                        <div class="form-group">
                                                            <input class="form-control required" type="file" id="@Model.Proformainvoice" name="Proformainvoice" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-6 control-label req">Packaging Lists</label>
                                                        <div class="form-group">
                                                            <input class="form-control required" type="file" id="@Model.PackagingLists" name="PackagingLists" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-lg-6">
                                                    <div class="form-group">
                                                        <label class="col-md-6 control-label req">Others</label>
                                                        <div class="form-group">
                                                            <input class="form-control required" type="file" id="@Model.Others" name="OthersName" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-2">
                                    <label class="col-sm-10 control-label">
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <button id="btnSave"
                                            class="btn btn-sm btn-primary"
                                            data-pdsa-action="save">
                                        <i class="glyphiconb glyphicon-floppy-disk"></i>
                                        &nbsp;Submit Job
                                    </button>
                                    <button id="btnCancel"
                                            class="btn btn-sm btn-primary"
                                            formnovalidate="formnovalidate"
                                            data-pdsa-action="cancel">
                                        <i class="glyphicon glyphicon-remove-circle"></i>
                                        &nbsp;Cancel
                                    </button>
                                    
                                </div>
                                <div class="col-md-2">
                                    <label class="col-sm-10 control-label ">

                                    </label>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }

            @if (Model.IsListAreaVisible)
            {
                <!-- Current Shipment start -->
                <div class="wshipping-content-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-lg-12">
                                <div class="order-list">
                                    <!-- BEGIN GRID AREA -->
                                    <div class="table-responsive">
                                        <table class="table table-condensed table-bordered table-striped table-hover" id="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Vessel</th>
                                                    <th>B/L Number</th>
                                                    <th>Port Of Loading</th>
                                                    <th>Port Of Discharge</th>
                                                    <th>Shipping Lines</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.UsrLst)
                                                {
                                                <tr>
                                                    <td class="pdsa-action-button-column">
                                                        <a href="#" data-pdsa-action="edit"
                                                           data-pdsa-val="@item.id"
                                                           class="btn btn-default btn-sm">
                                                            <i class="glyphicon glyphicon-edit">Click to View</i>
                                                        </a>
                                                    </td>
                                                    <td class="pdsa-action-button-column">
                                                        <a href="#" data-pdsa-action="edit"
                                                           data-pdsa-val="@item.id"
                                                           class="btn btn-default btn-sm">
                                                            @item.VesselName
                                                        </a>
                                                    </td>
                                                    <td>@item.BLNumber</td>
                                                    <td>@item.PortLoading</td>
                                                    <td>@item.PortDischarge</td>
                                                    <td>@item.ShippingLines</td>
                                                    <td><a href="" title=""><i class="fa fa-check-circle" aria-hidden="true"></i></a></td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                        @if (Model.PageList != null)
                                        {
                                            @Html.PagedListPager(Model.PageList, page => Url.Action("Bidding", new { page }))
                                        }

                                    </div>
                                    <!-- END GRID AREA -->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Blog content end -->
            }
        </div>
    </div>
    <!-- Create New Shipment end -->
}
@section scripts {

    <script>
        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $("#loading").show();
            });
            $(document).ajaxStop(function () {
                $("#loading").hide();
            });

            $("[data-pdsa-action]").on("click", function (e) {

                $("#loading").show();
                e.preventDefault();

                $("#EventCommand").val($(this).data("pdsa-action"));

                $("#EventArgument").val($(this).attr("data-pdsa-val"));

                $("form").submit();
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function (data) {
                        console.log('Submission was successful.');
                        console.log(data);
                    },
                    error: function (data) {
                        console.log('An error occurred.');
                        console.log(data);
                    },
                });
                $("#loading").hide();
            });
        });
    </script>
}