@model PowerusyData.CompleteRegViewModel
@using PagedList.Mvc;
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcroumbs end -->
<!-- Customer Registration Start -->
@using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <!-- BEGIN HIDDEN FIELDS AREA -->
    @Html.HiddenFor(m => m.EventCommand)
    @Html.HiddenFor(m => m.Mode)
    @Html.HiddenFor(m => m.EventArgument)
    <!-- END HIDDEN FIELDS AREA -->
    <!--start Loading panel-->

    <!-- Create New Shipment Start -->
    <div class="wshipping-content-block shipping-block">
        <div class="container">
            <h2 class="heading2-border mt0">Complete Registration</h2>
            <div class="row">
                <div class="shipping-form-block">
                    <form class="steps" accept-charset="UTF-8" enctype="multipart/form-data">
                        <!-- progressbar -->
                        <ul id="progressbar">
                            <li class="active">COMPANY INFORMATION</li>
                            <li>KYC REQUIREMENTS</li>
                           
                        </ul>
                        <!-- fieldsets Shipping From Start-->
                        <fieldset>
                            @*<h2 class="fs-title">Hello. Where are you shipping from? <a href="" title="" class="login-btn-form">Login</a></h2>*@
                            <h3 class="fs-subtitle">* Indicates required field </h3>
                            <div class="shipping-form">
                                <div class="row">
                                   
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Company name<sup>*</sup></label>
                                            @Html.TextBoxFor(m => m.Entity.CompanyName, new { @class = "form-control" })
                                            <span class="error1" style="display: none;"> <i class="error-log fa fa-exclamation-triangle"></i> </span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Services rendered<sup>*</sup></label>
                                            <select name="country" class="form-control">
                                                <option>Documentation</option>
                                                <option>Clearing & trucking</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Description of the commercial activity<sup>*</sup></label>
                                            <input type="text" class="form-control" name="Description" placeholder="" />
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Address<sup>*</sup></label>
                                            @Html.TextBoxFor(m => m.Entity.CompanyAddress, new { @class = "form-control" })
                                            @*<input type="text" class="form-control" name="address1" placeholder="Street Address" />*@
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Company phone number<sup>*</sup></label>
                                            <input type="text" class="form-control" name="phone" placeholder="+23480" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Postal address</label>
                                            @Html.TextBoxFor(m => m.Entity.PostAddress, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Postal Code<sup>*</sup></label>
                                            <input type="text" class="form-control" name="post" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>City<sup>*</sup></label>
                                            <input type="text" class="form-control" name="city" />
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label>Other Address Information</label>
                                            <input type="text" class="form-control" name="other-address" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-lg-4">
                                        <div class="form-group">
                                            <label class="slide-label">Is this a residential address?</label>
                                            <div class="slide-redio">
                                                <input type="checkbox" value="None" id="slide-radio0" name="check" checked />
                                                <label for="slide-radio0"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="button" name="next" class="next action-button" value="Continue" />
                            <input type="reset" name="cancel" class="action-button btn-red" value="Cancel Shipment" />
                        </fieldset>
                        <!-- fieldsets Shipping From end-->
                      
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Create New Shipment end -->
}
